.Container-iirp {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
}

.InfoBox-iirp {
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Chart-container-iirp {
    align-self: center;
}

.Description {
  font-size: 120%;
  font-weight: bold;
  color: #303030;
}

.Description-text-iirp {
  font-size: 120%;
  color: #000000
}

.InfoBox-inside-iirp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
