.Container {
  display: flex;
  justify-content: center;
}

.Form-container {
  border: 1px solid #BABABA;
  border-radius: 5px;
  width: 600px;
  padding: 5px;
  margin: 10px;
}

.Field-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: flex-start;

}

.Field-container-sex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Field-label {
  font-size: small;
  margin-top: 2px;
  color: #515151;
}

.Field-input {
  border-radius: 2px;
  padding: 5px;
  width: 100%;
}
