.Container-style-slp {
  padding: 20;
  display: flex;
  flex-direction: row;
  background-image: url('../asserts/mist-bg.jpg');
}

.Survivor-panel-style-slp {
  justify-content: center;
  flex: 1;
  padding: 20px;
  max-height: 700px;
}
